#my-account {
  .woocommerce {
    flex-direction: row;
  }
  .woocommerce-MyAccount-navigation {
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    .woocommerce-MyAccount-navigation-link {
      font-size: 20px;
      padding: 3px;
      border-bottom: 1px solid black;
      a {
        text-decoration: none;
        color: black;
      }
    }
    .woocommerce-MyAccount-navigation-link:hover {
      background-color: black;
      a {
        color: white;
      }
    }
  }

  .woocommerce-MyAccount-content {
    padding: 0 50px;
    font-size: 20px;
    p {
      margin-bottom: 1em;
    }
    .woocommerce-Address-title {
      margin-bottom: .5em;
    }
  }
}