.entry-content .woocommerce {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-direction: column; }
  .entry-content .woocommerce .product {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center; }
    .entry-content .woocommerce .product .woocommerce-loop-product__title {
      font-size: 2em !important;
      color: black; }
