
/* main navigation menu */
.menu {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
}

.sub-menu {
  display: none;
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}